* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
html {
  font-size: 62.5%;
  background-color: var(--primary);
}

/*---Variables---*/
/* :root {
  --primary: #f9f9f9;
  --primary-gradient: linear-gradient(90deg, rgba(249, 249, 249, 0.5), rgba(249, 249, 249, 0.4), rgba(249, 249, 249, .3), rgba(249, 249, 249, 0.1));
  --primary-gradient-desktop: linear-gradient(90deg, rgba(249, 249, 249, 0.5), rgba(249, 249, 249, 0.3), rgba(249, 249, 249, .2), rgba(249, 249, 249, 0.1));
  --secondary: #061923;
  --tertiary: #F75C03;
  --shadow: rgba(24, 24, 29, 0.4);
  --icon-facebook: url('../assets/icons/facebook.svg');
  --icon-twitter: url('../assets/icons/twitter.svg');
  --icon-instagram: url('../assets/icons/instagram.svg');
} */
/*---Dark Mode---*/
:root {
  --primary: #061923;
  --primary-gradient: linear-gradient(90deg, rgba(6, 25, 35, 1), rgba(6, 25, 35, 0.8), rgba(6, 25, 35, 0.6), rgba(6, 25, 35, 0.4));
  --primariy-gradient-desktop: linear-gradient(90deg, rgba(6, 25, 35, 0.8), rgba(6, 25, 35, 0.5), rgba(6, 25, 35, 0.3), rgba(6, 25, 35, 0.1));
  --secondary: #f9f9f9;
  --tertiary: #F75C03;
  --shadow: rgba(2, 4, 9, 0.8);
  --icon-facebook: url('../assets/icons/facebook-dark-mode.svg');
  --icon-twitter: url('../assets/icons/twitter-dark-mode.svg');
  --icon-instagram: url('../assets/icons/instagram-dark-mode.svg');
}

/*---Header---*/

.header {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  z-index: 3;
}
.header__title {
  width: 100%;
  height: 44px;
  display: grid;
  align-items: center;
  border-radius: 0 0 12px 12px;
  box-shadow: 2px 2px 8px var(--shadow);
  font-size: 1.8rem;
  text-align: center;
  color: #f9f9f9;
  background-color: #061923;
}
.menu {
  position: absolute;
  top: 12px;
  right: 22px;
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;
  background-image: url('../assets/icons/menu.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  position: absolute;
  top: 34px;
  width: 35%;
  height: 66px;
  padding: 11px 10%;
  justify-self: flex-end;
  background-color: #061923;
  border-radius: 0 0 12px 12px;
  box-shadow: 0px 4px 4px var(--shadow);
  display: none;
  z-index: 3;
}
.navbar--active {
  display: block;
}
.navbar .list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  text-align: start;
  list-style: none;
}
.navbar .list__link {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: #f9f9f9;
  color: var(--tertiary);
}

/*---Main---*/

.main {

  background-color: var(--primary);
}

/*---Hero---*/

.hero {
  margin-top: 22px;
  width: 100%;
  height: auto;
  color: var(--secondary);
  background-color: var(--primary);
}
.description {
  position: relative;
  width: 100%;
  height: auto;
  padding: 6% 10%;
  display: grid;
  gap: 34px;
  z-index: 1;
}
.description::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: var(--primary-gradient);
  content: "";
  z-index: -1;
}
.description::after {
  position: absolute;
  width: 94%;
  height: 84%;
  margin-right: 6vw;
  display: flex;
  justify-self: flex-start;
  align-self: center;
  background-image: url('../assets/images/hero.webp');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  z-index: -2;
}
.description__title {
  max-width: 180px;
  font-size: 2.8rem;
}
.description__paragraph {
  max-width: 260px;
  font-size: 1.3rem;
}
.description__cta {
  width: 126px;
  height: 34px;
  padding: 0 12px;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  color: #f9f9f9;
  background-color: var(--tertiary);
  cursor: pointer;
}
.description__cta .arrow {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-image: url('../assets/icons/arrow1.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(90deg);
}
.social-media {
  width: 76px;
  height: 20px;
  margin-left: 22px;
  display: grid;
  grid-template-columns: repeat(3, 20px);
  gap: 8px;
}
.social-media__icon {
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.social-media .facebook {
  background-image: var(--icon-facebook);
}
.social-media .twitter {
  background-image: var(--icon-twitter);
}
.social-media .instagram {
  background-image: var(--icon-instagram);
}

/*---Services---*/

.section {
  width: 88%;
  margin: 0 auto;
  padding: 5%;
  margin-bottom: 66px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 2px 8px var(--shadow);
}
.subtitle {
  margin-bottom: 5%;
  font-size: 1.8rem;
  color: var(--secondary);
}
.gallery {
  width: 100%;
  max-width: 1054px;
  height: auto;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, minmax(120px, 190px));
  grid-template-rows: repeat(auto-fill, minmax(120px, 1fr));
  gap: 14px;
}
.gallery__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: 1 / 1 / 3 / 3;
  cursor: pointer;
}
.gallery__image {
  width: 100%;
  min-width: 120px;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

/*---Menu---*/

.grid {
  width: 100%;
  height: auto;
  display: grid;
  place-content: center;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 14px;
}

.grid__image {
  width: 100%;
  object-fit: cover;
}
.grid__element {
  width: 100%;
  max-width: 180px;
  height: 100%;
  padding: 12% 4%;
  box-shadow: 0px 2px 8px var(--shadow);
  border-radius: 12px;
  transition: all .3s cubic-bezier(0,0,.5,1);
  cursor: pointer;
}
.grid__element:hover {
  transform: scale3d(1.06,1.06,1.06);
  box-shadow: 0px 2px 8px var(--shadow);
}
.name {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--secondary);
}